<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Project 4</title>
    </head>

    <body>

        <header>
            <img class="logo" alt="Question Logo">
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter article URL (e.g., http://...) or phrase to analyze">
                    <input type="submit" name="" value="Analyze!" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
            <span class="results-heading">
                Results:
            </span>
            <section class="results">
                <div id="sentiment">

                </div>
                
                <div id="classification">

                </div>
            </section>
        </main>

        <footer>
            <p>Copyright &copy; 2020</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
